html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}










/*MY CODE*/

* {
    text-decoration: none;
}

body {
    background: #222;
}

/*HEADER*/

header nav {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    z-index: 1000;
}

header nav ul {
    display: none;
    background-color: #fff;
}

header nav ul li {
    display: block;
    list-style: none;
    padding: 20px 10px;
}

header nav ul li a {
    text-transform: uppercase;
    font-family: Catamaran;
    font-size: 16px;
    line-height: 24px;
    color: #111;
    padding: 10px 10px;
}

header nav ul li a:hover {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    transition: 0.2s ease;
}

/*DROPDOWN*/

.dropdown-menu {
    display: none;
}

.dropdown-menu ul {
    display: none;
    position: fixed;
    top: 64px;
    left: 113.14px;
    box-shadow: 0 20px 35px -20px rgba(0,0,0,0.8);
}

/*TOGGLE*/

.toggle {
    background: #fff;
    display: flex;
}

.toggle .home-link {
    font-family: Catamaran;
    font-weight: 900;
    color: #111;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 38px;
    display: block;
    float: left;
    padding: 0 20px;
    margin: 13px 0;
}

.toggle .home-link:hover {
    opacity: 0.6;
}

.toggle i {
    position: fixed;
    right: 0;
    display: block;
    font-weight: 900;
    color: #111;
    font-size: 24px;
    line-height: 38px;
    padding: 0 20px;
    margin: 13px 0;
}

.toggle i:hover {
    opacity: 0.6;
    cursor: pointer;
}

.active {
    display: block;
}

.meta-home {
    display: none;
}

/*LAPTOP - DESKTOP*/

@media only screen and (min-width: 1000px) {
    
    .toggle {
        display: none;
    }
    
    header nav ul{
        display: inline-flex;
        float: left;
    }
    
    .meta-home {
        display: inline-flex;
        font-family: Catamaran;
        font-weight: 900;
        color: #111;
        font-size: 24px;
        text-transform: uppercase;
        line-height: 38px;
        float: left;
        border-right: 3px solid;
        margin: 13px 0;
        padding: 0 20px;
    }
    
    .meta-home:hover {
        opacity: 0.6;
    }
    
    .dropdown-menu {
        display: grid;
    }
}

/*MAIN SECTION*/

/*TITLE SECTION*/

.title-section {
    width: 100%;
    height: calc(100vh - 64px);
    margin-top: 64px;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,.55),rgba(0,0,0,.35),rgba(0,0,0,.15)), url(backgroundImage/aboutUsImage.jpg);
    background-position: 90% 10%;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.title-section h2 {
    font-family: Catamaran;
    font-size: 50px;
    font-weight: 800;
    line-height: 70px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 8px #111;
}

.title-section h2:after {
    content: "";
    display: block;
    margin: 0 auto; 
    width: 80%; 
    border-bottom: 4px solid; 
}

.title-section h1 {
    font-family: Consolas;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    line-height: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
    padding: 5px;
}

/*MAIN SECTION*/

.container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: 'Poppins';
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.container .card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: auto;
    width: 275px;
    background: #fff;
    margin: 30px 0px;
}

.container .card .imgBx {
    display: flex;
    position: relative;
    width: 100%;
    height: 200px;
    background: #333;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}

.container .card .imgBx:before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 36px;
    color: rgba(255, 255, 255, .55);
    font-weight: 700;
    z-index: 1;
}

.container .card .imgBx img {
    position: absolute;
    top: 0;
    width: 100%;
    filter: brightness(65%);
}

.container .card .content {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-bottom: 30px;
}

.container .card .content .unitbv-logo {
    position: absolute;
    bottom: -20px;
    right: 25px;
    width: 30px;
    background: #111;
    padding: 8px;
    border-radius: 3px;
}

.container .single .card .content .unitbv-logo {
    background: #001900;
}

.container .double:nth-child(2) .card:nth-child(1) .content .unitbv-logo {
     background: #002989;
}

.container .double:nth-child(2) .card:nth-child(2) .content .unitbv-logo {
     background: #423F05;
}

.container .double:nth-child(3) .card:nth-child(1) .content .unitbv-logo {
     background: #2A0202;
}

.container .double:nth-child(3) .card:nth-child(2) .content .unitbv-logo {
     background: #291A03;
}

.container .card .content .unitbv-logo img {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.container .card .content h3 {
    margin-bottom: 10px;
    font-size: 25px;
    color: #111;
}

.container .card .content ul li {
    font-size: 15px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.container .double.one .card .content ul li {
    margin-right: 60px;
}

/*LAPTOP - DESKTOP*/

@media only screen and (min-width: 1000px) {
    
    .wrapper {
        width: 1000px;
        margin: 0 auto;
    }
    
    .title-section {
        height: 450px;
    }
    
    .title-section h2:after { 
        width: 20%; 
    }
    
    .title-section h1 {
        display: block;
        width: 520px;
        margin: 0 auto;
        padding: 10px;
    }
    
    .container {
        width: 1000px;
        flex-wrap: wrap;
        margin-top: 20px;
    }
    
    .container .double {
        display: flex;
    }
    
    .container .card {
        height: 300px;
        width: 450px;
        margin: 15px 15px;
        transition: 0.5s ease-in-out;
    }
    
    .container .card:hover {
        box-shadow: 0 0 50px #000;
        transition: 0.5s ease-in-out;
    }
    
    .container .card .content {
        height: 90%;
    }
    
    .container .card .content ul li {
        font-size: 17px;
    }

    .container .card .imgBx {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        transition: 0.5s ease-in-out;
    }
    
    .container .card:hover .imgBx {
        width: 150px;
        height: 150px;
        left: -75px;
        top: calc(50% - 75px);
        transition: 0.5s ease-in-out;
    }
    
    .container .card .imgBx:before {
        bottom: 10px;
        font-size: 40px;
        transition: 1.5s ease-in;
    }
    
    .container .card:hover .imgBx:before {
        color: rgba(255, 255, 255, 0);
        transition: 0.3s ease-out;
    }
    
    .container .card .content {
        position: absolute;
        right: 0;
        width: calc(100% - 125px);
        margin-bottom: 0px;
    }
    
    .container .card .content .unitbv-logo {
        bottom: 58px;
        right: 20px;
        width: 40px;
        padding: 9px;
        transition: 0.5s ease-in-out;
    }
    
    .container .card:hover .content .unitbv-logo {
        bottom: 58px;
        right: -25px;
        transition: 0.5s ease-in-out;
    }
}

/*FOOTER*/

footer {
    position: relative;
    width: calc(100% - 80px);
    padding: 40px 40px;
    margin-top: 16px;
    background-color: #111;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 10px;
}

footer ul li {
    display: block;
    list-style: none;
}

footer ul li a {
    text-transform: uppercase;
    font-family: Catamaran;
    font-size: 22px;
    color: #fff;
    line-height: 32px;
}

footer ul li a:hover {
    opacity: 0.6;
} 
    
.footer-sm {
    width: 45px;
    float: right;
}
    
.footer-sm img {
    width: 100%;
    margin-bottom: 10px;
}

.footer-sm img:hover {
    opacity: 0.6;
}

footer .credits {
    width: fit-contents;
    position: absolute;
    bottom: 0;
    left: 50px;
    right: 40px;
}

footer .credits p {
    font-family: Montserrat;
    font-size: 14px;
    color: #666;
    margin: 0 auto;
    padding: 0;
}

footer .credits a {
    color: #666;
}

footer .credits img {
    width: 21px;
    vertical-align: middle;
    margin-bottom: 4px;
}

/*LAPTOP - DESKTOP*/

@media only screen and (min-width: 1000px) {
    
    .footer-wrapper {
        width: 980px;
        margin: 0 auto;
    } 
    
    footer .credits p {
        font-size: 16px;
    }
}