html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}










/*MY CODE*/

* {
    text-decoration: none;
}

body {
    background: #333;
    font-family: Consolas;
}

/*HEADER*/

header nav {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

header nav ul {
    display: none;
    background-color: #fff;
}

header nav ul li {
    display: block;
    list-style: none;
    padding: 20px 10px;
}

header nav ul li a {
    text-transform: uppercase;
    font-family: Catamaran;
    font-size: 16px;
    line-height: 24px;
    color: #111;
    padding: 10px 10px;
}

header nav ul li a:hover {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    transition: 0.2s ease;
}

/*DROPDOWN*/

.dropdown-menu {
    display: none;
}

.dropdown-menu ul {
    display: none;
    position: fixed;
    top: 64px;
    left: 113.14px;
    box-shadow: 0 20px 35px -20px rgba(0,0,0,0.8);
}

/*TOGGLE*/

.toggle {
    background: #fff;
    display: flex;
}

.toggle .home-link {
    font-family: Catamaran;
    font-weight: 900;
    color: #111;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 38px;
    display: block;
    float: left;
    padding: 0 20px;
    margin: 13px 0;
}

.toggle .home-link:hover {
    opacity: 0.6;
}

.toggle i {
    position: fixed;
    right: 0;
    display: block;
    font-weight: 900;
    color: #111;
    font-size: 24px;
    line-height: 38px;
    padding: 0 20px;
    margin: 13px 0;
}

.toggle i:hover {
    opacity: 0.6;
    cursor: pointer;
}

.active {
    display: block;
}

.meta-home {
    display: none;
}

/*LAPTOP - DESKTOP*/

@media only screen and (min-width: 1000px) {
    
    .toggle {
        display: none;
    }
    
    header nav ul{
        display: inline-flex;
        float: left;
    }
    
    .meta-home {
        display: inline-flex;
        font-family: Catamaran;
        font-weight: 900;
        color: #111;
        font-size: 24px;
        text-transform: uppercase;
        line-height: 38px;
        float: left;
        border-right: 3px solid;
        margin: 13px 0;
        padding: 0 20px;
    }
    
    .meta-home:hover {
        opacity: 0.6;
    }
    
    .dropdown-menu {
        display: grid;
    }
}

/*MAIN SECTION*/

/*TITLE SECTION*/

.title-section {
    width: 100%;
    height: calc(100vh - 64px);
    margin-top: 64px;
    background-image: linear-gradient(rgba(0,0,0,0.85),rgba(0,0,0,0.65),rgba(0,0,0,0.45),rgba(0,0,0,0.25)), url(backgroundImage/menuImage.jpg);
    background-position: 60% 90%;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
}

.title-section h2 {
    font-family: Catamaran;
    font-size: 50px;
    font-weight: 800;
    line-height: 70px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 8px #111;
}

.title-section h2:after {
    content: "";
    display: block;
    margin: 0 auto; 
    width: 55%; 
    border-bottom: 4px solid; 
}

.title-section h1 {
    font-family: Consolas;
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    line-height: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 2px 2px 8px #111;
    padding: 10px;
}

/* MAIN SECTION*/

.main-section {
    width: fit-content;
    margin: 0 auto;
    margin-top: 36px;
    margin-bottom: 36px;
}


.main-section .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.main-section .card .face.top {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.main-section .card:hover:nth-child(1) .face.top {
    transform: translateY(0);
    background: #196F3D;
}

.main-section .card:hover:nth-child(2) .face.top {
    transform: translateY(0);
    background: #722f37;
}

.main-section .card:hover:nth-child(3) .face.top {
    transform: translateY(0);
    background: #6f4e37;
}

.main-section .card .face.top .content {
    opacity: 0.7;
    transition: 0.5s;
}

.main-section .card:hover .face.top .content {
    opacity: 1;
}

.main-section .card .face.top .content img {
    width: 100px;
    height: 100px;
    padding: 10px;
}

.main-section .card:nth-child(1) .face.top .content img {
    margin-left: 0px;
}

.main-section .card:nth-child(3) .face.top .content img {
    margin-left: 40px;
}

.main-section .card .face.top .content h3 {
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin: 10px 0 0;
    padding: 0;
}

.main-section .card .face.bottom {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}

.main-section .card:hover .face.bottom {
    transform: translateY(0);
}

.main-section .card .face.bottom .content a {
    margin: 15px 0 0;
    padding: 5px;
    display: inline-block;
    font-weight: 900;
    color: #333;
    border: 1px solid;
}

.main-section .card .face.bottom .content a:hover {
    background: #333;
    color: #fff;
}

/*LAPTOP - DESKTOP*/

@media only screen and (min-width: 1000px) {
    
    .wrapper {
        width: 1000px;
        margin: 0 auto;
    }
    
    .title-section {
        height: 450px;
    }
    
    .title-section h2:after { 
        width: 13%; 
    }
    
    .title-section h1 {
        display: block;
        width: 520px;
        margin: 0 auto;
    }
    
    .main-section {
        width: 960px;
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        margin-bottom: 100px;
    } 
}

/*FOOTER*/

footer {
    position: relative;
    width: calc(100% - 80px);
    padding: 40px 40px;
    background-color: #111;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}

footer ul {
    width: fit-content;
    float: left;
    padding-left: 10px;
}

footer ul li {
    display: block;
    list-style: none;
}

footer ul li a {
    text-transform: uppercase;
    font-family: Catamaran;
    font-size: 22px;
    color: #fff;
    line-height: 32px;
}

footer ul li a:hover {
    opacity: 0.6;
} 
    
.footer-sm {
    width: 45px;
    float: right;
}
    
.footer-sm img {
    width: 100%;
    margin-bottom: 10px;
}

.footer-sm img:hover {
    opacity: 0.6;
}

footer .credits {
    width: fit-contents;
    position: absolute;
    bottom: 0;
    left: 50px;
    right: 40px;
}

footer .credits p {
    font-family: Montserrat;
    font-size: 14px;
    color: #666;
    margin: 0 auto;
    padding: 0;
}

footer .credits a {
    color: #666;
}

footer .credits img {
    width: 21px;
    vertical-align: middle;
    margin-bottom: 4px;
}

/*LAPTOP - DESKTOP*/

@media only screen and (min-width: 1000px) {
    
    .footer-wrapper {
        width: 1000px;
        margin: 0 auto;
    }  
    
    footer .credits p {
        font-size: 16px;
    }
}